<div id="user-widget">
  <% if current_user %>
    <p><%= current_user.image %></p>
    <p>Welcome <strong><%= current_user.email %></strong>!</p>
    <p><%= link_to "Sign out", destroy_user_session_path, method: "delete" %></p>
  
  <% else %>
    <div id="welcome-module">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas justo ante, egestas ut eros ac, consectetur egestas ante. Cras feugiat condimentum gravida. Proin vel risus in dolor accumsan vulputate. Aenean adipiscing volutpat urna at dignissim. Integer at fringilla est, a convallis sapien. Nam vel ante erat. Maecenas imperdiet vehicula vehicula. Duis sit amet laoreet urna.

      Vestibulum at tristique massa. Integer ultricies varius tincidunt. Cras eget risus feugiat, cursus nibh eget, iaculis metus. Aliquam erat volutpat. Aliquam pretium non ligula eu vulputate. Donec sit amet risus enim. Nulla facilisi. Proin sollicitudin ligula urna, non molestie dolor tristique eu.

      Aliquam porttitor dapibus commodo. Pellentesque vel ultrices ipsum. Nulla sed mattis eros. Nam tristique lacus leo, quis tempus diam placerat eu. Pellentesque venenatis euismod consequat. Nulla eros velit, tempor vel hendrerit vestibulum, dapibus a nisl. Maecenas ac urna justo.

      Sed sagittis, erat vel dignissim dapibus, sem nisl rutrum sapien, at auctor sapien neque vulputate purus. Pellentesque vel gravida purus. Aliquam id sapien at libero malesuada semper. Nunc quis erat at lectus interdum dictum. Donec id malesuada purus, at pellentesque odio. Phasellus consectetur malesuada ligula ac egestas. Nam pretium tincidunt cursus. Aenean nec volutpat felis. Sed mollis erat eu malesuada venenatis.

      Proin scelerisque mattis rhoncus. Nullam pulvinar erat ut mi vehicula suscipit. Aenean posuere, nisi quis condimentum consectetur, massa urna pretium sapien, ac consectetur metus libero in sem. Aliquam et fringilla tellus. Aliquam erat volutpat. Nulla tincidunt, diam ac scelerisque ornare, velit arcu elementum magna, quis adipiscing erat urna ac lorem. Etiam ac odio accumsan purus tristique facilisis sit amet quis velit.</p>
    </div>

    <div id="login-module">
      <section id="socialmediasignin">
        <h3>Social Media Sign-in</h3>
        <p><%= link_to image_tag("facebook-login.png", alt: "Login with Facebook"), user_omniauth_authorize_path(:facebook) %></p>
        <p><%= link_to image_tag("twitter-login.png", alt: "Login with Twitter"), user_omniauth_authorize_path(:twitter) %></p>
      </section>
      <%= render "devise/sessions/login_form" %>
    </div>
    
  <% end %>
</div>

<div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        // init the FB JS SDK
        FB.init({
          appId      : '333505546788462',                        // App ID from the app dashboard
          channelUrl : 'http://localhost:3000/', // Channel file for x-domain comms
          status     : true,                                 // Check Facebook Login status
          xfbml      : true                                  // Look for social plugins on the page
        });


        // Additional initialization code such as adding Event Listeners goes here
      };

      // Load the SDK asynchronously
      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/all.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
