<nav class="navbar navbar-inverse navbar-fixed-top" id="myNavbar" role="navigation">
	<% if signed_in? %>
		<%= form_tag(users_path, :method => 'get', :class => "navbar-form navbar-left", :role => "search") do %>
	        <%= text_field_tag :search, params[:search], :class => "input-small appendedInputButton", :placeholder => "Search" %>
	    <% end %>
		<ul class="nav navbar-nav navbar-right">
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "#{current_user.fname} #{current_user.lname}", user_path(current_user) %></li>
			<li><%= link_to "Account", edit_user_path(current_user) %></li>
			<li><%= link_to "Sign out", signout_path, method: "delete" %></li>
		</ul>
	<% else %>
		<ul class="nav navbar-nav" id="mynav">
		    <li><%= link_to "link1", root_path(anchor: "link1"), :class => "droppedHover"%></li>
			<li><%= link_to "link2", root_path(anchor: "link2"), :class => ""%></li>
			<li><%= link_to "link3", root_path(anchor: "link3"), :class => ""%></li>
			<li><%= link_to "link4", root_path(anchor: "link4"), :class => ""%></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><%= link_to "Sign Up", signup_path %></li>
			<li id="signupli"><%= link_to "Sign In", signin_path %></li>
		</ul>
	<% end %>
</nav>